<!DOCTYPE html>
<html lang="en">
<title>www.book2notes.com</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">

<link rel="shortcut icon" href="{{url_for('static', filename='pdf.ico')}}">
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
<!--"{{url_for('static', filename='js/jquery.min.js')}}">-->
<script type=text/javascript src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script type=text/javascript src="{{url_for('static', filename='js/bootstrap.js')}}"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
</head>


<header>

    <!--<div id="app" class="container">-->
    <!--<nav class="navbar navbar-expand-lg navbar-light bg-faded">-->
        <!--<a class="navbar-brand" href="/"> <img src="{{url_for('static' , filename='images/logo.png')}}" width="30" height="30" alt=""></a>-->
        <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">-->
            <!--<span class="navbar-toggler-icon"></span>-->
        <!--</button>-->
        <!--<div id="navbarNavDropdown" class="navbar-collapse collapse">-->
            <!--&lt;!&ndash;<ul class="navbar-nav mr-auto">&ndash;&gt;-->
                <!--&lt;!&ndash;<li class="nav-item active">&ndash;&gt;-->
                    <!--&lt;!&ndash;<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>&ndash;&gt;-->
                <!--&lt;!&ndash;</li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li class="nav-item">&ndash;&gt;-->
                    <!--&lt;!&ndash;<a class="nav-link" href="#">Features</a>&ndash;&gt;-->
                <!--&lt;!&ndash;</li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li class="nav-item">&ndash;&gt;-->
                    <!--&lt;!&ndash;<a class="nav-link" href="#">Pricing</a>&ndash;&gt;-->
                <!--&lt;!&ndash;</li>&ndash;&gt;-->

            <!--&lt;!&ndash;</ul>&ndash;&gt;-->
            <!--<ul class="navbar-nav ml-auto">-->
                <!--<li class="nav-item dropdown">-->
                    <!--<a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                      <!--Dropdown-->
                    <!--</a>-->
                    <!--<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">-->
                        <!--<a class="dropdown-item" href="#">Action</a>-->
                        <!--<a class="dropdown-item" href="#">Another action</a>-->
                    <!--</div>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" href="/login/">Login</a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" href="/register/">Register</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</nav>-->
<!--</div>-->
    <!---->
    <!---->
    <!--<div>-->
        <!--<nav class="navbar navbar-light bg-faded">-->
            <!--<div>-->
                <!--<a class="navbar-brand" href="/">-->
                    <!--<img src="{{url_for('static' , filename='images/logo.png')}}" width="30" height="30" alt="">-->
                <!--</a>-->
                <!--<button type="button" class="btn btn-primary">-->
                    <!--<span class="glyphicon glyphicon-off" aria-hidden="true"></span>-->
                    <!--Create Notes-->
                <!--</button>-->
            <!--</div>-->
        <!--</nav>-->


        <!--&lt;!&ndash;<ul>&ndash;&gt;-->
            <!--&lt;!&ndash;<div>&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;<a class="navbar-brand" href="/"> <img style="max-width:120px;margin-top:0px;"&ndash;&gt;&ndash;&gt;-->
                                                       <!--&lt;!&ndash;&lt;!&ndash;src="{{url_for('static' , filename='images/logo.png')}}">&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;</a>&ndash;&gt;&ndash;&gt;-->


                <!--&lt;!&ndash;&lt;!&ndash;<button type="button" class="btn btn-primary">&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;<span class="glyphicon glyphicon-off" aria-hidden="true"></span>&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;Create Notes&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;</button>&ndash;&gt;&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</ul>&ndash;&gt;-->
        <!--<div class="nav navbar-nav navbar-right pull-right">-->
            <!--<div style="align:right;margin-right:10px;margin-left:15px;margin-top=5px;margin-bottom:5px;" class="container-fluid">-->


                <!--<a href="/login/"> <span class="glyphicon glyphicon-log-in"> </span> Login &nbsp;&nbsp;&nbsp;</a>-->
                <!--<a href="/register/"> <span class="glyphicon glyphicon-pencil"> </span> Register&nbsp;&nbsp;&nbsp;</a>-->

            <!--</div>-->

        <!--</div>-->
    <!--</div>-->
</header>


<body>
<div class="border-row" style="width:70%;margin-botton:15px;"></div>
<div class="container-fluid" align="center" style="min-height:100%"></div>
{% block body %}
{% endblock %}
</body>
</html>