{%extends "base.html" %}
{% block body %}

<body>

	<!-- //Modal2 -->

	<!--//Header-->
	<!--/inner_connectent-->
	<!--Gallery-->
	<div class="banner_bottom">
		<div class="container">
			<h3 class="headerw3">Courses</h3>
			<div class="inner_sec_w3_agileinfo">
				<div class="col-md-4 col-sm-4 col-xs-4 gal-sec">
					<div class="gallery-grid1">
						<a title="100% Satisfaction." href="images/gal1.jpg">
						<img src="images/gal1.jpg" alt=" " class="img-responsive" />
						<div class="p-mask">
							<h4>Data Science</h4>
							<p>Description</p>
						</div>
						</a>
					</div>
					<div class="gallery-grid1">
						<a title="100% Satisfaction." href="images/gal2.jpg">
						<img src="images/gal2.jpg" alt=" " class="img-responsive" />
						<div class="p-mask">
							<h4>Core IT Skills</h4>
							<p>Description</p>
						</div>
						</a>
					</div>
					<div class="gallery-grid1">
						<a title="100% Satisfaction." href="images/gal4.jpg">
						<img src="images/gal4.jpg" alt=" " class="img-responsive" />
						<div class="p-mask">
							<h4>Management</h4>
						    <p>Description</p>
						</div>
						</a>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 gal-sec">
					<div class="gallery-grid1">
						<a title="100% Satisfaction." href="images/gal32.jpg">
						<img src="images/gal3.jpg" alt=" " class="img-responsive" />
						<div class="p-mask">
							<h4>Core Skills</h4>
							<p>Description</p>
						</div>
						</a>
					</div>
					<div class="gallery-grid1">
						<a title="100% Satisfaction." href="images/gal5.jpg">
						<img src="images/gal5.jpg" alt=" " class="img-responsive" />
						<div class="p-mask">
							<h4>Mass Communincation</h4>
							<p>Description</p>
						</div>
						</a>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 gal-sec">
					<div class="gallery-grid1">
						<a title="100% Satisfaction." href="images/gal6.jpg">
						<img src="images/gal6.jpg" alt=" " class="img-responsive" />
						<div class="p-mask">
							<h4>Literature</h4>
							<p>Description</p>
						</div>
						</a>
					</div>
					<div class="gallery-grid1">
						<a title="100% Satisfaction." href="images/gal8.jpg">
						<img src="images/gal8.jpg" alt=" " class="img-responsive" />
						<div class="p-mask">
							<h4>Financial Analysis</h4>
							<p>Description</p>
						</div>
						</a>
					</div>
					<div class="gallery-grid1">
						<a title="100% Satisfaction." href="images/gal7.jpg">
						<img src="images/gal7.jpg" alt=" " class="img-responsive" />
						<div class="p-mask">
							<h4>Feedback Analysis</h4>
							<p>Description</p>
						</div>
						</a>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--//Gallery-->


	<!--/footer -->


	<!-- js -->
	<script type="text/javascript" src="js/jquery-2.2.3.min.js"></script>
	<!-- //js -->
	<!--search-bar-->
	<script src="js/main.js"></script>
	<!--gallery -->
	<script src="js/jquery.chocolat.js"></script>
	<!--light-box-files -->
	<script type="text/javascript">
		$(function () {
			$('.gallery-grid1 a').Chocolat();
		});
	</script>
	<!-- //gallery -->
	<!--//search-bar-->
	<link rel="stylesheet" type="text/css" href="css/easy-responsive-tabs.css " />
	<!-- start-smoth-scrolling -->
	<script type="text/javascript" src="js/move-top.js"></script>
	<script type="text/javascript" src="js/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 900);
			});
		});
	</script>
	<!-- start-smoth-scrolling -->

	<script type="text/javascript">
		$(document).ready(function () {
			/*
									var defaults = {
							  			containerID: 'toTop', // fading element id
										containerHoverID: 'toTopHover', // fading element hover id
										scrollSpeed: 1200,
										easingType: 'linear' 
							 		};
									*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	<script type="text/javascript" src="js/bootstrap-3.1.1.min.js"></script>

</body>
{% endblock %}