{%extends "appstartbase.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block body %}


<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">
               Change Your Password
            </h4>
            <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
        </div>
        <div class="modal-body">

                 {{ wtf.quick_form(form) }}

        </div>
    </div>
    <!-- /.modal-content -->
</div>
{% endblock %}