{%extends "appstartbase.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block body %}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">
                Login
            </h4>
            <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
        </div>
        <div class="modal-body">
            <form id="loginform" action="{{url_for('auth.login')}}" method="post">
                {{ wtf.quick_form(form) }}
            </form>
        </div>
        <div class="modal-footer">
            <small>Not a member? <a href="{{url_for('auth.register')}}" class="signup">Sign up now!</a></small>
            <br/>
            <small><a href="{{url_for('auth.password_reset_request')}}">Forgotten password?</a></small>
        </div>
    </div>
    <!-- /.modal-content -->
</div>

{% endblock %}