{%extends "appstartbase.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block body %}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">
                Sign Up
            </h4>
            <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
        </div>
        <div class="modal-body">
            <form action={{url_for('auth.register')}} method=post>

                    <h5>
                        Account Information
                    </h5>
                    {{ wtf.quick_form(form) }}
            </form>
        </div>
        <div class="modal-footer">
            <small>Already signed up? <a href="{{url_for('auth.login')}}">Login here</a>.</small>
        </div>
    </div>
    <!-- /.modal-content -->
</div>
<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Terms and conditions:</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                This is my unconditional love for YOU !!!!
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>


{% endblock %}


