{%extends "appstartbase.html" %}
{% block body %}
<div class="container">
    <div class="row ">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        Upload the book file:
                    </h4>
                    <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
                </div>
                <div class="modal-body">
                    <form id="upload-file-form" action="{{url_for('auth.uploadfileprocess')}}" method="POST"
                          enctype="multipart/form-data">

                            <input class="btn btn-primary" type="file" name="file" accept="application/pdf" multiple>
                            <input class="btn btn-primary" type="submit" value="Read this file">

                    </form>

                </div>

            </div>
            <!-- /.modal-content -->
        </div>

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        Enter the URL you want to read:
                    </h4>
                    <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
                </div>
                <!--<div class="modal-body">-->
                    <form id="form2" action="{{url_for('auth.uploadwebaddress')}}"   method="post"  class=" form-inline">
                        <!--<div class="form-control form-inline">-->




                            <label class="unselectable sr-only" for="web_address">Web
                                address:</label>
                            <input value="{{request.form.web_add_name}}" type="text" class="form-control"
                                   name=web_add_name
                                   id="web_address" placeholder="URL(ex: https://www.google.com)">

                            <label class="unselectable sr-only" for="web_address_name">Name
                                it
                                as: </label>
                            <input name=web_name value="{{request.form.web_add_name}}" type="text" class="form-control"
                                   id="web_address_name" placeholder="Name it (ex:mygoole)">
                            <button type="submit" class="btn btn-primary" value="Readthiswebpage"> Read this webpage
                            </button>

                        <!--</div>-->
                    </form>

                <!--</div>-->

            </div>
            <!-- /.modal-content -->
        </div>

    </div>
</div>


{% endblock %}