{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block body %}


            <table class="table ">
              <thead>
                <tr>
                  <th></th>
                  <th>Photo</th>
                  <th>Profile Page</th>
                  <th>Summary</th>
                </tr>
              </thead>
              <tbody>
              {% for item in teachernames %}
                <tr>
                  <th scope="row"></th>
                  <td><a href="{{ url_for('auth.teacherprofilepagenoedit')}}">{{item.FirstName}}</a></td>
                  <td><a href="{{ url_for('auth.teacherprofilepagenoedit')}}" >{{item.LastName}}</a></td>
<td><a href="{{ url_for('auth.teacherprofilepagenoedit')}}" >{{item.Qualifications}}</a></td>
                </tr>
               {% endfor %}
              </tbody>
            </table>
{% endblock %}


