

    /*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Feb 16, 2018, 1:52:16 PM
    Author     : atul
*/


.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}




.highlight {color: red; }

/*.mystyle {
    width: 100%;
    padding: 25px;
    background-color: coral;
    color: white;
    font-size: 25px;
    box-sizing: border-box;
}*/
.mystyle {






/*    border: 0;
    outline: none;
    border-radius: 2px;
    width:20%;*/
    background-color: #2ecc71;
    color: #2ecc71;
/*         border: 0;
 background: none;
 background-color: orange;
 box-shadow: none;
 border-radius: 0px;*/
    /*//#ecf0f1;*/


}
.mystyleA {
/*    background-color: orange;
    color: black;
    box-sizing: border-box;*/
/*     border: 0;
 background: none;*/
 background-color: #2ecc71;
/* box-shadow: none;
 border-radius: 0px;*/

}


/*
.mystyle:hover, .btn:focus {
    background-color: #27ae60;
    color: #000000;
    ecf0f1;
}

.mystyle > * {
    position: relative;
}

.mystyle span {
    display: block;
    padding: 12px 24px;
}*/
.mystyleQ {
/*    background-color: orange;
    color: black;
    box-sizing: border-box;*/
/*     border: 0;
 background: none;*/
 background-color: orange;
/* box-shadow: none;
 border-radius: 0px;*/

}
/*.mystyle:before {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;

    display: block;
    width: 0;
    padding-top: 0;

    border-radius: 100%;

    background-color: rgba(236, 240, 241, .3);

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.mystyle {
    :active:before {
        width: 120%;
        padding-top: 120%;

        transition: width .2s ease-out, padding-top .2s ease-out;
    }

    Styles, not important
    *, *:before, *:after {
        box-sizing: border-box;
    }
                .mystyle {
                    background-color: coral;
                    color: coral;
                    box-sizing: border-box;
                    text-align: left;
                    box-shadow: none;
                    //padding: 25px;
                }

    .mystyleA {
        background-color: skyblue;
        color: black;
        box-sizing: border-box;
    }*/


